<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>

    <h1>Predict Square Root</h1>
    <p>
        Enter the number
    </p>

    <form action="/" method="POST">

        <input type="number" name="nb" placeholder="Number to Square Root">
        <input type="submit">

    </form>

    <p>My Prediction:</p>
    {{my_prediction}}

<!--     {% if my_prediction %}
        <p>My Prediction:</p>
        {{my_prediction}}
    {% endif %} -->

</body>
</html>